## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('About')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/default/images/about.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('About')}</h2>
<div>
        <p>Мы объединили усилия специалистов-профессионалов, чтобы дать фармацевтическим компаниям инструмент успешного ведения бизнеса, позволяющий перейти от разрозненных данных к информационной системе.</p>
<p><b>Основание Тимсофт</b> - компания Тимсофт создана в 2005 году с единой миссией – повышать эффективность работы фармацевтических компаний.</p>
<p><b>Компания Тимсофт</b> - лидер на рынке программного обеспечения CRM/ETMS и сопутствующих информационных сервисов для управления маркетингом фармацевтической продукции (База данных по врачам, ЛПУ, аптекам, дистрибьюторам; Бизнес аналитика; Сбор и анализ продаж дистрибьюторов; Дистанционное обучение; Мониторинг местонахождения представителей). Мы специализируемся на внедрении клиентоориентированных технологий, автоматизации бизнес процессов отделов продаж, маркетинга и сервисного обслуживания. Наши клиенты - успешные игроки фармацевтического рынка, как представительства компаний с мировым именем, так и локальные производители.</p>
<p><b>Стратегия Тимсофт</b> - в условиях развития информационных технологий мы предоставляем нашим клиентам удобные и современные инструменты для оптимизации и повышения эффективности фармацевтического бизнеса.</p>
<p><b>География Тимсофт</b> - более 100 успешно внедренных проектов на территории СНГ (Украина, Россия, Казахстан, Белоруссия, Молдова, Румыния)</p>
<p><b>Узкая специализация, высокая компетенция и значительный опыт CRM/ETMS - внедрений</b>, позволяют нам владеть самой актуальной информацией о тенденциях развития фармацевтического рынка СНГ и предлагать решения, максимально отвечающие потребностям клиента с гарантией высокого качества и оптимальных сроков внедрения проектов.</p>
<p><b>Команда Тимсофт</b> - Тимсофт объединяет талантливых сотрудников, истинных профессионалов своего дела. Команда Тимсофт – это десятки единомышленников, результат работы которых – повышение эффективности Вашего бизнеса.</p>
</div>
        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/default/images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Contact Us')}</h2>

        <p><b>Украина</b></p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
